{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
    </div>
{% endblock %}


{% block show %}
{% spaceless %}
<div class="page-header">
    <h1>Create a Property Online Listing Form for a new Unit</h1>
</div>
    <div id="">
    <h3>For owner : {{ object.name }}</h3> 
    <form action="{{ app.request.requesturi }}" method="POST" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    </div>
    <input type="submit" value="Create" />
	</form>
{% endspaceless %}
{% endblock %}

