{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field %}
{% if object.activeContract is not empty %}
<a target=blank href="{{ path('admin_phrentals_main_contract_edit', {'id': object.activeContract.contract.id}) }}" class="{% if object.activeContract.contract.status.id == 9 %}contract-signed{% endif %}{% if object.activeContract.contract.status.id in 3..8  %}contract-inprocess{% endif %}{% if object.activeContract.contract.status.id in 1..2  %}contract-cancelled{% endif %}" title="Show Contract - {{ object.activeContract.contract.status }}">{{ object.activeContract.contract.kRef }}</a>&nbsp;({{ object.activeContract.contract.purpose.short }})
{% else %}<font class=no-contract>No Contract</font>{% endif %}
{% endblock %}